<header class="header">
    <div class="logo">
      <h1><a [routerLink]="['/home']">Movie Rating App</a></h1>
    </div>
  
    <nav class="category-nav">
      <button 
        *ngFor="let category of categories" 
        class="category-button" 
        [ngClass]="{ active: selectedCategory === category }" 
        (click)="filterByCategory(category)"
      >
        {{ category | titlecase }}
      </button>
    </nav>
  
<div class="search-box">
    <input 
      type="text" 
      [(ngModel)]="searchQuery" 
      placeholder="Search for movies..." 
      (keydown.enter)="searchMovie()"
    />
    <button (click)="searchMovie()">Search</button>
  </div>
  
  </header>
  