/* home.component.css */
.container {
    text-align: center;
    margin-top: 50px;
  }
  
  h1 {
    font-size: 36px;
    margin-bottom: 30px;
    color: #333;
  }
  
  app-movie-list {
    margin-top: 20px;
  }
  